In [55]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math
from itertools import combinations
from scipy.stats import ttest_ind
from students_functions import replace_na_with_most_frequent



pd.set_option('display.max_rows', 50) # выведем больше строк
pd.set_option('display.max_columns', 50) # выведем больше колонок

students = pd.read_csv('stud_math.csv')

In [44]:
display(students.head(10))

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,"studytime, granular",higher,internet,romantic,famrel,freetime,goout,health,absences,score
0,GP,F,18,U,NaN,A,4.0,4.0,at_home,teacher,course,mother,2.0,2.0,0.0,yes,no,no,no,yes,-6.0,yes,NaN,no,4.0,3.0,4.0,3.0,6.0,30.0
1,GP,F,17,U,GT3,NaN,1.0,1.0,at_home,other,course,father,1.0,2.0,0.0,no,yes,no,no,no,-6.0,yes,yes,no,5.0,3.0,3.0,3.0,4.0,30.0
2,GP,F,15,U,LE3,T,1.0,1.0,at_home,other,other,mother,1.0,2.0,3.0,yes,no,NaN,no,yes,-6.0,yes,yes,NaN,4.0,3.0,2.0,3.0,10.0,50.0
3,GP,F,15,U,GT3,T,4.0,2.0,health,NaN,home,mother,1.0,3.0,0.0,no,yes,yes,yes,yes,-9.0,yes,yes,yes,3.0,2.0,2.0,5.0,2.0,75.0
4,GP,F,16,U,GT3,T,3.0,3.0,other,other,home,father,1.0,2.0,0.0,no,yes,yes,no,yes,-6.0,yes,no,no,4.0,3.0,2.0,5.0,4.0,50.0
5,GP,M,16,U,LE3,T,4.0,3.0,services,other,reputation,mother,1.0,2.0,0.0,no,yes,yes,yes,yes,-6.0,yes,yes,no,5.0,4.0,2.0,5.0,10.0,75.0
6,GP,M,16,NaN,LE3,T,2.0,2.0,other,other,home,mother,1.0,2.0,0.0,no,no,no,no,yes,-6.0,yes,yes,no,4.0,4.0,4.0,3.0,0.0,55.0
7,GP,F,17,U,GT3,A,4.0,4.0,other,teacher,home,mother,2.0,2.0,0.0,yes,yes,no,no,yes,-6.0,yes,no,no,4.0,1.0,4.0,1.0,6.0,30.0
8,GP,M,15,U,LE3,A,3.0,2.0,services,other,home,mother,1.0,2.0,0.0,no,yes,yes,no,yes,-6.0,yes,yes,no,NaN,2.0,2.0,1.0,0.0,95.0
9,GP,M,15,U,NaN,NaN,3.0,4.0,other,other,home,mother,1.0,2.0,0.0,no,yes,yes,yes,yes,-6.0,yes,yes,no,5.0,5.0,1.0,5.0,0.0,75.0

In [4]:
students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   school               395 non-null    object
 1   sex                  395 non-null    object
 2   age                  395 non-null    int64
 3   address              378 non-null    object
 4   famsize              368 non-null    object
 5   Pstatus              350 non-null    object
 6   Medu                 392 non-null    float64
 7   Fedu                 371 non-null    float64
 8   Mjob                 376 non-null    object
 9   Fjob                 359 non-null    object
 10  reason               378 non-null    object
 11  guardian             364 non-null    object
 12  traveltime           367 non-null    float64
 13  studytime            388 non-null    float64
 14  failures             373 non-null    float64
 15  schoolsup            386 non-null    object
 16  famsup               356 non-null    object
 17  paid                 355 non-null    object
 18  activities           381 non-null    object
 19  nursery              379 non-null    object
 20  studytime, granular  388 non-null    float64
 21  higher               375 non-null    object
 22  internet             361 non-null    object
 23  romantic             364 non-null    object
 24  famrel               368 non-null    float64
 25  freetime             384 non-null    float64
 26  goout                387 non-null    float64
 27  health               380 non-null    float64
 28  absences             383 non-null    float64
 29  score                389 non-null    float64
dtypes: float64(12), int64(1), object(17)
memory usage: 92.7+ KB

Let's rename the columns

In [45]:
students.columns = [
    'school',
    'sex',
    'age',
    'area',
    'family_size',
    'parents_status',
    'mother_education',
    'father_education', 
    'mother_job',
    'father_job',
    'school_choosing_reason',
    'guardian',
    'travel_time',
    'study_time',
    'failures',
    'schools_support',
    'family_support',
    'paid_classes',
    'activities',
    'nursery_past',
    'studytime, granular',
    'high_education_objective',
    'home_internet',
    'romantic_relations',
    'family_relations',
    'free_time',
    'friends_timeout',
    'health',
    'absences',
    'score'
]

In [46]:
display(students.head(10))

,school,sex,age,area,family_size,parents_status,mother_education,father_education,mother_job,father_job,school_choosing_reason,guardian,travel_time,study_time,failures,schools_support,family_support,paid_classes,activities,nursery_past,"studytime, granular",high_education_objective,home_internet,romantic_relations,family_relations,free_time,friends_timeout,health,absences,score
0,GP,F,18,U,NaN,A,4.0,4.0,at_home,teacher,course,mother,2.0,2.0,0.0,yes,no,no,no,yes,-6.0,yes,NaN,no,4.0,3.0,4.0,3.0,6.0,30.0
1,GP,F,17,U,GT3,NaN,1.0,1.0,at_home,other,course,father,1.0,2.0,0.0,no,yes,no,no,no,-6.0,yes,yes,no,5.0,3.0,3.0,3.0,4.0,30.0
2,GP,F,15,U,LE3,T,1.0,1.0,at_home,other,other,mother,1.0,2.0,3.0,yes,no,NaN,no,yes,-6.0,yes,yes,NaN,4.0,3.0,2.0,3.0,10.0,50.0
3,GP,F,15,U,GT3,T,4.0,2.0,health,NaN,home,mother,1.0,3.0,0.0,no,yes,yes,yes,yes,-9.0,yes,yes,yes,3.0,2.0,2.0,5.0,2.0,75.0
4,GP,F,16,U,GT3,T,3.0,3.0,other,other,home,father,1.0,2.0,0.0,no,yes,yes,no,yes,-6.0,yes,no,no,4.0,3.0,2.0,5.0,4.0,50.0
5,GP,M,16,U,LE3,T,4.0,3.0,services,other,reputation,mother,1.0,2.0,0.0,no,yes,yes,yes,yes,-6.0,yes,yes,no,5.0,4.0,2.0,5.0,10.0,75.0
6,GP,M,16,NaN,LE3,T,2.0,2.0,other,other,home,mother,1.0,2.0,0.0,no,no,no,no,yes,-6.0,yes,yes,no,4.0,4.0,4.0,3.0,0.0,55.0
7,GP,F,17,U,GT3,A,4.0,4.0,other,teacher,home,mother,2.0,2.0,0.0,yes,yes,no,no,yes,-6.0,yes,no,no,4.0,1.0,4.0,1.0,6.0,30.0
8,GP,M,15,U,LE3,A,3.0,2.0,services,other,home,mother,1.0,2.0,0.0,no,yes,yes,no,yes,-6.0,yes,yes,no,NaN,2.0,2.0,1.0,0.0,95.0
9,GP,M,15,U,NaN,NaN,3.0,4.0,other,other,home,mother,1.0,2.0,0.0,no,yes,yes,yes,yes,-6.0,yes,yes,no,5.0,5.0,1.0,5.0,0.0,75.0

In [7]:
students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   school                    395 non-null    object
 1   sex                       395 non-null    object
 2   age                       395 non-null    int64
 3   area                      378 non-null    object
 4   family_size               368 non-null    object
 5   parents_status            350 non-null    object
 6   mother_education          392 non-null    float64
 7   father_education          371 non-null    float64
 8   mother_job                376 non-null    object
 9   father_job                359 non-null    object
 10  school_choosing_reason    378 non-null    object
 11  guardian                  364 non-null    object
 12  travel_time               367 non-null    float64
 13  study_time                388 non-null    float64
 14  failures                  373 non-null    float64
 15  schools_support           386 non-null    object
 16  family_support            356 non-null    object
 17  paid_classes              355 non-null    object
 18  activities                381 non-null    object
 19  nursery_past              379 non-null    object
 20  studytime, granular       388 non-null    float64
 21  high_education_objective  375 non-null    object
 22  home_internet             361 non-null    object
 23  romantic_relations        364 non-null    object
 24  family_relations          368 non-null    float64
 25  free_time                 384 non-null    float64
 26  friends_timeout           387 non-null    float64
 27  health                    380 non-null    float64
 28  absences                  383 non-null    float64
 29  score                     389 non-null    float64
dtypes: float64(12), int64(1), object(17)
memory usage: 92.7+ KB

In [4]:
print(f'There are {students.isnull().any().sum()} columns in students dataset with missing values.')

There are 27 columns in students dataset with missing values.

Let's check which column and how many missing values we have

In [21]:
size = len(students)
students.isnull().sum().apply(lambda x: round(x * 100 / size, 2))

school            0.00
sex               0.00
age               0.00
address           4.30
famsize           6.84
                  ...
freetime_isNAN    0.00
goout_isNAN       0.00
health_isNAN      0.00
absences_isNAN    0.00
score_isNAN       0.00
Length: 57, dtype: float64

So, there are just 3 colums : school, age and sex without 
missing values

Repalce NaN wuth mean value

In [53]:
students.fillna(students.mean(),inplace=True)

In [54]:
students.isnull().sum()

school                       0
sex                          0
age                          0
area                        17
family_size                 27
parents_status              45
mother_education             0
father_education             0
mother_job                  19
father_job                  36
school_choosing_reason      17
guardian                    31
travel_time                  0
study_time                   0
failures                     0
schools_support              9
family_support              39
paid_classes                40
activities                  14
nursery_past                16
studytime, granular          0
high_education_objective    20
home_internet               34
romantic_relations          31
family_relations             0
free_time                    0
friends_timeout              0
health                       0
absences                     0
score                        0
dtype: int64